<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="pc.Properties.Settings.MembersConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Members.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>